// Typography
$suisse-intl: "Suisse Int'l";
$font-family-base: $suisse-intl, sans-serif;

$font-weight-regular: 400;

$font-size-largest: 36px;
$font-size-larger: 18px;
$font-size-medium: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;
$font-size-xsmall: 11px;


// Colors
$white: #FFFFFF;
$black: #000000;
$dark-green: #1C3C34;
$alto: #D6D6D6;
$concrete: #F2F2F2;
$dove-gray: #676767;
$silver-chalice: #A3A3A3;
$tuna: #3C3C40;
$blue-ribbon: #0033FF;
$mercury: #E7E7E7;
$cabaret: #CE426E;
$malibu: #8CA3FF;
$downriver: #071D49;

$bg-color-base: $white;
$bg-color-light: $concrete;
$text-color-base: $dark-green;
$text-color-dark: $black;
$text-color-light: $white;
$text-color-secondary: $dove-gray;
$text-color-subtitle: $tuna;
$highlight-color: $dark-green;
$hover-color: $blue-ribbon;
$shadow-color: $alto;
$divider-color: $silver-chalice;

// Svgs
$white-circle: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>")
