<nav class="navbar footer-mobile-nav">
  <ul class="navbar-nav">
    <li>
      <a class="nav-item" routerLink="/">
        <svg-icon class="icon" src="assets/svgs/icon-home.svg"></svg-icon>
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/">
        <svg-icon class="icon" src="assets/svgs/icon-programme.svg"></svg-icon>
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/">
        <svg-icon class="icon" src="assets/svgs/icon-network.svg"></svg-icon>
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/">
        <svg-icon class="icon" src="assets/svgs/icon-message.svg"></svg-icon>
      </a>
    </li>
    <li>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#header-menuXX"
        aria-controls="header-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</nav>