<footer>
  <div class="container">
    <div class="top-section">
      <nav class="footer-nav">
        <ul class="nav-group desktop-footer-nav">
          <li><a class="nav-item" href="#">Programme</a></li>
          <li><a class="nav-item" href="#">Speakers</a></li>
          <li><a class="nav-item" href="#">About</a></li>
        </ul>
        <ul class="nav-group">
          <li><a class="nav-item" href="#">Networking</a></li>
          <li><a class="nav-item" href="#">Resources</a></li>
          <li><a class="nav-item" href="#">Video On Demand</a></li>
          <li><a class="nav-item" href="#">Downloads</a></li>
        </ul>
        <ul class="nav-group">
          <li><a class="nav-item" href="#">Help</a></li>
        </ul>
      </nav>
  
      <div class="socials">
        <p>Connect with Us</p>
        <ul class="socials">
          <li>
            <a class="nav-item" href="#">
              <img src="../../../assets/svgs/icon-youtube.svg" alt="Youtube link">
            </a>
          </li>
          <li>
            <a class="nav-item" href="#">
              <img src="../../../assets/svgs/icon-linkedin.svg" alt="Linkedin link">
            </a>
          </li>
          <li>
            <a class="nav-item" href="#">
              <img src="../../../assets/svgs/icon-insta.svg" alt="Instagram link">
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="bottom-section">
      <ul class="legal">
        <li><a class="legal-item" href="#">Privacy Statement</a></li>
        <li><a class="legal-item" href="#">Cookie Policy</a></li>
      </ul>
      <p class="copyright">
        ©2021 The Occam Lab Private Limited. All Rights Reserved
      </p>
    </div>
  </div>
</footer>