@import 'src/assets/scss/variables';

.navbar {
  box-shadow: 0px 3px 6px $shadow-color;

  .navbar-nav {
    width: 100%;
    justify-content: end;

    > li {
      margin-right: 40px;

      a {
        padding: 0;
      }
    }
  }

  .nav-link {
    &.nav-image {
      position: relative;
      
      > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > .visibility {
        position: absolute;
        bottom: 1px;
        left: 26px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $dove-gray;
        border: 1px solid $white;

        &.visible {
          background-color: $downriver;
        }
      }

      &::after {
        display: none;
      }
    }
  }
}