.edit-link {
  color: $blue-ribbon;
  position: relative;
  cursor: pointer;

  &::before {
    display: none;
    content: "";
    position: absolute;
    width: 44px;
    height: 22px;
    background: $black;
    opacity: 0.1;
    top: -2px;
    left: -8px;
    border-radius: 10px;
  }

  &:hover {

    &::before {
      display: block;
    }
  }
}