@import 'src/assets/scss/variables';

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.footer-mobile-nav {
  padding: 0;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

  .navbar-toggler {
    border: 0;
    padding: 0;

    span {
      background-image: $green-hamburger;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
