@import 'src/assets/scss/variables';

.main-details {
  margin: 26px 0 40px;

  .name {
    font-size: $font-size-medium;
    color: $text-color-dark;
    font-weight: 700; // CHANGE TO MEDIUM
    margin-bottom: 0;
  }

  .role {
    color: $text-color-subtitle;
  }
}

.account-settings {
  .settings-header {
    font-size: $font-size-larger;
    color: $text-color-base;
    font-weight: 700; // CHANGE TO MEDIUM
    margin-bottom: 16px;
  }

  .detail-group {
    margin-bottom: 32px;

    > .label {
      font-size: $font-size-regular;
      font-weight: 700; // CHANGE TO MEDIUM
      color: $text-color-secondary;
    }

    .detail {
      font-size: $font-size-medium;
      color: $text-color-dark;
      margin-bottom: 10px;
    }
  }
}