<div class="welcome-page container d-flex gap-3">
  <div class="text-container">
    <h1 class="welcome">Welcome</h1>
    <div class="message">
      <p>{{ userName }},</p>
      <p>
        To commemorate Occam Labs&#39;s 400th Anniversary, we are convening leaders of our most important partners, investee companies and counterparties globally at a special edition of The Occam Conference.
      </p>
      <p>
        With the theme, Towards a Ecological Future, the forum will seek perspectives from global thought leaders on the pertinent sustainability trends and initiatives that are needed to build a more resilient and equitable future.
      </p>
    </div>
  </div>

  <div class="image-container">
    <img src="assets/images/welcome-image.jpg" alt="Zoomed-in succulent plant">
  </div>

  <div class="stripes-container"><div class="stripes"></div></div>
</div>