.profile-image {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-bottom: 8px;
  }
}

.image-uploader {
  padding-bottom: 14px;
}