<nav class="navbar footer-mobile-nav">
  <ul class="navbar-nav">
    <li>
      <a class="nav-item" routerLink="/">
        <img src="../../../assets/svgs/icon-home.svg" alt="Home menu">
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/">
        <img src="../../../assets/svgs/icon-programme.svg" alt="Programme menu">
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/">
        <img src="../../../assets/svgs/icon-network.svg" alt="NEtwork menu">
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/">
        <img src="../../../assets/svgs/icon-message.svg" alt="Message menu">
      </a>
    </li>
    <li>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#header-menuXX"
        aria-controls="header-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</nav>