<div class="footer-desktop">
  <div class="top-section">
    <nav class="footer-nav">
      <ul class="nav-group">
        <li><a class="nav-item" routerLink="/">Programme</a></li>
        <li><a class="nav-item" routerLink="/">Speakers</a></li>
        <li><a class="nav-item" routerLink="/">About</a></li>
      </ul>
      <ul class="nav-group">
        <li><a class="nav-item" routerLink="/">Networking</a></li>
        <li><a class="nav-item" routerLink="/">Resources</a></li>
        <li><a class="nav-item" routerLink="/">Video On Demand</a></li>
        <li><a class="nav-item" routerLink="/">Downloads</a></li>
      </ul>
      <ul class="nav-group">
        <li><a class="nav-item" routerLink="/">Help</a></li>
      </ul>
    </nav>

    <div class="socials">
      <p>Connect with Us</p>
      <ul class="socials">
        <li>
          <a class="nav-item" routerLink="/">
            <img src="../../../assets/svgs/icon-youtube.svg" alt="Youtube link">
          </a>
        </li>
        <li>
          <a class="nav-item" routerLink="/">
            <img src="../../../assets/svgs/icon-linkedin.svg" alt="Linkedin link">
          </a>
        </li>
        <li>
          <a class="nav-item" routerLink="/">
            <img src="../../../assets/svgs/icon-insta.svg" alt="Instagram link">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="bottom-section">
    <ul class="legal">
      <li><a class="legal-item" routerLink="/">Privacy Statement</a></li>
      <li><a class="legal-item" routerLink="/">Cookie Policy</a></li>
    </ul>
    <p class="copyright">
      ©2021 The Occam Lab Private Limited. All Rights Reserved
    </p>
  </div>
</div>