@import 'src/assets/scss/variables';

footer {
  background-color: $bg-color-base;
  box-shadow: 0px -1px 3px $shadow-color;
  padding: 6px 0;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    background-color: $bg-color-light;
    padding: 24px 0;
    position: initial;
  }
}
