@import 'src/assets/scss/variables';

header {
  width: 100%;
  background: $bg-color-base;
}

.navbar {
  padding: 2px 0 1px;
  box-shadow: 0px 3px 6px $shadow-color;

  >.container {
    justify-content: center;
    position: relative;
  }

  .status-mobile  {
    position: absolute;
    right: 28px;
  }
}

@media screen and (min-width: $screen-md) {
  header {
    position: fixed;
    z-index: 100;
    top: 0;
  }

  .navbar {  
    >.container {
      justify-content: space-between;
    }
  }
}