@import './assets/scss/variables';
@import './assets/scss/fonts';
@import './assets/scss/links';
@import './assets/scss/form';
@import './assets/scss/slim';

body {
  font-family: $font-family-base;
  color: $text-color-base;

  h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-family: $font-family-base;
    color: $text-color-base;
  }
  
  h1 {
    font-size: $font-size-larger;
  }

  p, a, span, li {
    font-size: $font-size-regular;
    line-height: 25px;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $hover-color;

      .icon svg {
        path, rect, tspan {
          fill: $hover-color;
        }
      }
    }
  }

  .page-content {
    margin-bottom: 48px;
  }

  .container {
    --bs-gutter-x: 3rem;
  }

  @media screen and (min-width: $screen-md) {
    h1 {
      font-size: $font-size-largest;
    }

    .page-content {
      margin-top: 48px;
      margin-bottom: 0;
    }

    .container {
      --bs-gutter-x: 1.5rem;
      max-width: 1112px;
    }
  }
}

.container {
  padding-right: 24px;
  padding-left: 24px;
}