<div class="image-upload-container">
  <form class="form-upload" [ngClass]="{ 'uploading': uploading }">
    <slim [options]="slimOptions" class="myslim">
      <input type="file" name="profile" accept="{{ imageUploadType }}" required>
      <div *ngIf="uploading" class="loader">
        <div class="message">Uploading</div>
        <div class="dot"></div>
      </div>
    </slim>

    <div class="instructions">
      <p>To replace an existing profile photo, delete it and upload a new photo. Click Save after to update your profile.</p>
      <p>Supported file format: JPG; Maximum file size: 2MB</p>
    </div>
  
    <div class="actions d-flex gap-1">
      <button class="btn secondary" type="button" [disabled]="uploading" (click)="onCancelClick()">
        Cancel
      </button>

      <button class="btn primary" type="button" [disabled]="disableSave()" (click)="onSaveClick()">
        Save
      </button>
    </div>
  </form>
</div>